@model ECommerce.Models.SignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register Now</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/guesttemplate/js/jquery-2.1.1.js"></script>
    <script src="~/guesttemplate/js/jquery-3.1.1.min.js"></script>
    <link href="~/GuestTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/GuestTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/animate.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">E-C</h1>

            </div>
            <h3>Register to E-Commerce</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" asp-action="Index">
                <div class="form-group">
                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" FullName" asp-for="@Model.FullName">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    <input type="email" class="form-control" placeholder=" Email" asp-for="@Model.Email">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" Phone" asp-for="@Model.PhoneNumber">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                    <input type="file" asp-for="@Model.ImageUrl" >
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" Username" asp-for="@Model.UserName" >
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.CityId" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" Adress" asp-for="@Model.CityId">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Village" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" Village" asp-for="@Model.Village">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    <input type="text" class="form-control" placeholder=" Address" asp-for="@Model.Address">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.BornDate" class="text-danger"></span>
                    <input type="date" class="form-control" placeholder=" BornDate" asp-for="@Model.BornDate">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <input type="password" class="form-control" placeholder=" Password" asp-for="@Model.Password">
                </div>
                <div class="form-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <input type="password" class="form-control" placeholder=" confirm Password" asp-for="@Model.ConfirmPassword">
                </div>
                <div class="form-group">
                    <p>
                        <a href="#" id="btninfo">By clicking Signup, I agree to your terms</a>
                    </p>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/SignInUser/Index">Login</a>
                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
            </form>
            <p class="m-t"> <small>E-Commerce &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>
    <script>
        $('#btninfo').click(function () {
            swal("Verified!!!", "You accepted our policy...", "success");
        });
    </script>
    <!-- Mainly scripts -->
    <script src="~/GuestTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/GuestTemplate/js/popper.min.js"></script>
    <script src="~/GuestTemplate/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/GuestTemplate/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>

