@model ECommerce.Models.SignUpViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register Now</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/guesttemplate/js/jquery-2.1.1.js"></script>
    <script src="~/guesttemplate/js/jquery-3.1.1.min.js"></script>
    <link href="~/GuestTemplate/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/GuestTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/animate.css" rel="stylesheet">
    <link href="~/GuestTemplate/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">E-C</h1>

            </div>
            <h3>Register to E-Commerce</h3>
            <p>Create account to see it in action.</p>
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <div class="forms-sample">
                                <div class="form-group">
                                    <label for="exampleInputName1">Full Name</label>
                                    @Html.TextBoxFor(x=>x.FullName, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Email</label>
                                    @Html.TextBoxFor(x=>x.Email, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Phone</label>
                                    @Html.TextBoxFor(x=>x.PhoneNumber, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                                    <label>Profile photo upload</label>
                                    <input type="file" name="ImageUrl" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">UserName</label>
                                    @Html.TextBoxFor(x=>x.UserName, new {@class="form-control"})
                                </div>
                                @Html.DropDownListFor(x=>x.CityId,(List<SelectListItem>)ViewBag.cv,new {@class="form-control"})
                                <div class="form-group">
                                    <label for="exampleInputName1">Village</label>
                                    @Html.TextBoxFor(x=>x.Village, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Address</label>
                                    @Html.TextBoxFor(x=>x.Address, new {@class="form-control"})
                                </div>
                                
                                <div class="form-group">
                                    <label for="exampleInputName1">Born Date</label>
                                    <input type="date" value="BornDate" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Password</label>
                                    @Html.TextBoxFor(x=>x.Password, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Confirm Password</label>
                                    @Html.TextBoxFor(x=>x.ConfirmPassword, new {@class="form-control"})
                                </div>
                                <div class="form-group">
                    <p>
                        <a href="#" id="btninfo">By clicking Signup, I agree to your terms</a>
                    </p>
                </div>
                                <button type="submit" class="btn btn-gradient-primary mr-2">Register</button>
                                <button class="btn btn-light">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <p class="m-t"> <small>E-Commerce &copy; @DateTime.Now.Year</small> </p>
        </div>
    </div>
    <script>
        $('#btninfo').click(function () {
            swal("Verified!!!", "You accepted our policy...", "success");
        });
    </script>
    <!-- Mainly scripts -->
    <script src="~/GuestTemplate/js/jquery-3.1.1.min.js"></script>
    <script src="~/GuestTemplate/js/popper.min.js"></script>
    <script src="~/GuestTemplate/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/GuestTemplate/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>

