@model ECommerce.Areas.User.Models.AddProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/UserLayout/UserLayout.cshtml";
}
<h1>Product Add</h1>
<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Product Name</label>
                        @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Image upload</label>
                        <br />
                        <input type="file" name="ImageUrl" />
                    </div>
                    <div class="form-group">
                        <label>Thumbbail Image Upload</label>
                        <br />
                        <input type="file" name="ThumbnailImgUrl" />
                    </div>
                    <div class="form-group">
                        <label>Movie Upload</label>
                        <br />
                        <input type="file" name="MovieUrl" />
                    </div>
                    <label for="exampleInputName1">Product Brand</label>
                    @Html.DropDownListFor(x=>x.BrandId,(List<SelectListItem>)ViewBag.bv,new {@class="form-control"})
                        <label for="exampleInputName1">Product Category</label>
                    @Html.DropDownListFor(x=>x.SubCategoryId,(List<SelectListItem>)ViewBag.scv,new {@class="form-control"})
                    <div class="form-group">
                        <label for="exampleInputName1">Product Version</label>
                        @Html.TextBoxFor(x=>x.Version, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Product Cost</label>
                        @Html.TextBoxFor(x=>x.Cost, new {@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Product Description</label>
                        @Html.TextAreaFor(x=>x.Description,10,3, new {@class="form-control"})
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Add Product</button>
                    <button class="btn btn-light">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<br />
